* {
    margin: 0;
}

body {
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 50vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.box {
    border-radius: 1rem;
}

.one {
    background: red;
    grid-column: 1 / 5;
}

.two {
    background: blue;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.three {
    background: green;
    grid-column: 3 / 5;
}

.four {
    background: purple;
    grid-column: 3 / 4;
}

.five {
    background: purple;
    grid-column: 4 / 5;
}